.caption{
    font-family: 'Roboto Slab';
    font-size: 18px;
    text-align: center;
    color: #7c7c7c;
}

.title{
    font-family: 'Roboto Slab';
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 2.4px;
    text-align: center;
    color: #494949;
}

.line{
    display: block;
    height: 2px;
    background-color: #2eb0ec;
}

.item-plan__info li.grey {
    color: #bebebe;
}

._lock {
    overflow: hidden;
}